@use "../settings/settings" as *;

/* ============================
   HEADER / NAVBAR
   ============================ */

.site-header {
  background-color: $color-surface;
  border-bottom: 1px solid $color-border;
}

/* Barra de navegación */
.site-header__nav {
  padding-block: $space-1;
}

/* ============================================
   LOGO (imagen PNG + texto)
   ============================================ */

.site-header__brand {
  display: inline-flex;
  align-items: center;
  gap: $space-2;

  font-weight: 900;
  font-size: 1rem;
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-primary;
    text-decoration: none;
  }
}

/* Imagen del logo */
.site-header__logo-img {
  width: 6.5rem; 
  height: 6.5rem;
  object-fit: contain;
  display: block;
}


/* Texto del logo */
.site-header__logo-text {
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: $headings-font-family;
  font-weight: 700;
}

/* ============================================
   MENÚ PRINCIPAL
   ============================================ */

.site-header__menu {
  display: flex;
  align-items: center;
  gap: $space-4;
}

.site-header__menu .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-neutral-dark;
  padding-inline: 0;
  padding-block: 0.25rem;
  position: relative;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  /* subrayado fino al hover/focus */
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    height: 2px;
    background-color: $color-primary;
  }
}

/* ============================================
   RESPONSIVE
   ============================================ */

@media (max-width: $bp-lg) {
  /* Imagen del logo */
  .site-header__logo-img {
    width: 10rem;
    height: 10rem;
  }

  .site-header__logo-text {
    display: none;
  }

  .site-header__menu {
    gap: $space-3;
    padding-top: $space-2;
    margin-right: $space-4;
  }

  .site-header__nav .navbar-toggler {
    margin-right: $space-3; // separa el botón del borde derecho
  }
}

@media (max-width: $bp-md) {
  /* Imagen del logo */
  .site-header__logo-img {
    width: 10rem;
    height: 10rem;
  }

  .site-header__logo-text {
    display: none;
  }
}

@media (max-width: $bp-sm) {
  /* Imagen del logo */
  .site-header__logo-img {
    width: 10rem;
    height: 10rem;
  }

  .site-header__logo-text {
    display: none; 
  }

  .site-header__menu {
    margin-right: $space-4;
  }
}
