<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light site-header__nav">
    <div class="container">

      <!-- Logo + nombre del sitio -->
      <a class="navbar-brand site-header__brand" href="index.html">
        <img
          src="assets/images/logo.png"
          alt="Logotipo de las Jornadas de Cocina Tradicional"
          class="site-header__logo-img"
          width="40"
          height="40"
          loading="lazy"
        />
        <span class="site-header__logo-text">
          Jornadas de Cocina Tradicional
        </span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Alternar navegación"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center justify-content-lg-end"
        id="mainNav"
      >
        <ul class="navbar-nav site-header__menu">
          <li class="nav-item">
            <a class="nav-link" href="participantes.html">Participantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="programacion.html">Programación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inscripcion.html">Inscripciones</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
